:root {
    --soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark : hsl(167, 40%, 24%); /*desaturated cyan (graphic design text)*/
  
    --Dark-blue: hsl(198, 62%, 26%); /* (photography text)*/
    --Dark-moderate-cyan : hsl(168, 34%, 41%);/* (footer)*/

    /* ### Neutral */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}




*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Barlow', sans-serif;
    /*font-family: 'Fraunces', serif;*/
    font-size: 62.5%; /*1rem=10px*/
    
}


header {
    background-image: url(./images/mobile/image-header.jpg);
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 375px;
    height: 100vh;

}



.header__img {
    margin: 25px;
    height: 25px;
}


.header__nav{
    display:flex;
    width: 100%;
    justify-content: space-between;
    
}

.header__nav--menu{
    margin-top: 25px;
    padding-right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;


}

.header__nav--menu img {
    height: 20px;
    width: 30px;
}


.header__nav--menu ul {
    display:none; /*quitar lista*/
    list-style: none; /*puntos*/


}

.header__nav--menu:hover ul{
    display: inline-block;

}

.header__nav--menu li a{
    text-decoration: none;
    font-size: 15px;
    color: var(--White);
 
    display:inline-block;
    margin: 5px;
}


.header__nav--menu li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--Very-dark-desaturated-blue);
}

.header__nav--menu-contact{
    background-color: var(--Yellow);
    border-radius: 20px;
}


.header__div{
    width: 100%;
    height: 70vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.header__div--title {
    width: 100%;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 50px;
    color : var(--White)

}

.header__div img{
    height: 100px;
}


.main__section{
    min-width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    
}



.main__section1{
    height: 40vh;
    width: 100%;
    background-image: url(./images/mobile/image-transform.jpg);
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
}

.main__section2{
    height: 40vh;
    width: 100%;
    background-image: url(./images/mobile/image-stand-out.jpg);
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
}


.main__section--conteiner{

    height:70vh;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.main__section--Title{
    color: var(--Very-dark-desaturated-blue);
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 3.5rem;
    margin: 30px 30px 10px;

}

.main__section--paragraph{
    color: var(--Dark-grayish-blue);
    font-size: 1.6rem;
    margin:10px 30px 30px;
}

.main__section a{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.6rem;
    margin-bottom: 50px;
    text-decoration-color: var(--Yellow);
    cursor: pointer;
}


.main__section_one{
    min-width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;


}

.main__section_two{
    min-width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./images/mobile/image-photography.jpg);
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;

}


.main__section_one--title-green{ 
    color: var(--Dark);
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Fraunces', serif;  
    margin-bottom: 25px;
}

.main__section_one--paragraph-green{
    color: var(--Dark);
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 15px;
    padding-right:  15px;
}


.main__section_two--title-blue{
    color: var(--Very-dark-desaturated-blue);
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Fraunces', serif;  
    margin-bottom: 25px;
    text-align: center;
}

.main__section_one--paragraph-green{
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 15px;
    padding-right:  15px;
}
 